
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!doctype html>
<html lang="en">

<head>

    <base href="/">
    <meta charset="utf-8">
    <title>KnowBase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    @section JavaScript
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/inline.bundle.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/polyfills.bundle.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/styles.bundle.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/vendor.bundle.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/main.bundle.js")"></script>
        <script src="signalr/hubs"></script>
    }
</body>

</html>